{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}
    <h1>welcome to all books page</h1>
         <table class="table">
             <tr>
                 <th>Id</th>
                <th>Book Name</th>
                <th>Price</th>
                 <th>Show</th>
                 <th>Edit</th>
                 <th>Delete</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.price }}</td>
                    <td><a class="btn btn-info"
                        href="{% url 'book.details' book.id %}">Show
                        </a></td>
                    <td><a class="btn btn-warning"
                        href="{% url 'update_book' book.id %}">Edit
                        </a></td>
                      <td>
                     <form method="POST" action="{% url 'delete_book' book.id %}">
                         {% csrf_token %}
                         <button type="submit" class="btn btn-danger">Delete</button>
                     </form>
                 </td>
                </tr>
             <tr>

            {% endfor %}
         </table>

{% endblock %}